@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  backface-visibility: hidden;
  transition-property: transform, color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.card.visible .card-back {
  transition: transform 500ms ease-in-out;
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transition: transform 500ms ease-in-out;
  transform: rotateY(0); 
}

.card-back {
  transform: rotateY(0); 
}

.card-front {
  background-color: grey;
  transform: rotateY(180deg);
}
