@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transition: transform 500ms ease-in-out;
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transition: transform 500ms ease-in-out;
  transform: rotateY(0); 
}

.card-back {
  background-color: black;
  transform: rotateY(0); 
}

.card-back img {
  background: white;
}

.card-front {
  background-color: grey;
  transform: rotateY(180deg);
}
